<a class="social" href="@Href" target="@(NewTab ? "_blank" : "_self")" rel="noopener noreferrer">
    @ChildContent
</a>

@code {

    #region Parameters

    [Parameter]
    public required RenderFragment ChildContent { get; set; }

    [Parameter]
    public required string Href { get; set; }

    [Parameter]
    public bool NewTab { get; set; } = true;

    #endregion
}