.theme {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(30px, 3vw, 38px);
    height: clamp(30px, 3vw, 38px);
    background-color: var(--primary-bg-color);
    border-radius: 50%;
    border: 2px solid var(--primary-color);
    box-shadow: clamp(1px, 0.3vw, 3px) clamp(1px, 0.3vw, 3px) var(--primary-color);
    flex-shrink: 0;
}

.input {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
}

.icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: clamp(20px, 2.2vw, 28px);
    height: clamp(20px, 2.2vw, 28px);
}

    .icon.icon-moon {
        fill: var(--primary-color);
    }

    .icon.icon-sun {
        stroke: var(--primary-color);
        display: none;
    }

.input:checked ~ .icon.icon-sun {
    display: block;
}

.input:checked ~ .icon.icon-moon {
    display: none;
}

.theme:active {
    box-shadow: 0px 0px var(--primary-color);
    transform: translate(3px, 3px);
}
