footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    gap: 0.4rem;
}

    footer.fixed-layout {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

@media (max-width: 576px) {

    footer {
        padding-bottom: 3rem;
    }
}

.footer-links {
    display: flex;
    gap: 0.6rem;
}

small {
    margin-bottom: 0.5rem;
}