:root {
    --heading-font: "Archivo Black", sans-serif;
    --body-font: "Oswald", sans-serif;
}

body {
    background-color: var(--primary-bg-color);
    background-image: radial-gradient(var(--decoration-color) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p, a {
    font-family: var(--body-font);
    color: var(--primary-color);
}